<h1>Game#List</h1>
<%= button_to("新增", game_new_path, method: :get) %>
<%= button_to("統計", player_summary_path, method: :get) %>
<label style="text-decoration:underline">最先行動</label>  <label>最先選角色*</label>  <label style="font-weight:bold">最後先手權</label>
<table>
  <tr>
    <th>id</th>
    <th>date</th>
    <th>player 1</th>
    <th>player 2</th>
    <th>player 3</th>
    <th>player 4</th>
    <th>平均</th>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.created_at.localtime("+08:00").strftime("%Y-%m-%d %T") %></td>
    <td><% player_info(game.players[0]) %></td>
    <td><% player_info(game.players[1]) %></td>
    <td><% player_info(game.players[2]) %></td>
    <td><% player_info(game.players[3]) %></td>
    <td><%= game.avg_score %></td>
  </tr>
  <% end %>
  <tr>
    <td>-</td>
    <td>平均</td>
    <% 4.times do |i|%>
      <td><%= @player_lists[i].avg_score %></td>
    <% end %>
    <td><%= @total_avg_score %></td>
  </tr>
</table>
<% Season.all.each do |season| %>
<%= button_to(season.name, game_list_path, method: 'get', params: {season_id: season.id}) %>
<% end %>

