<h1>Game#new</h1>
<%= form_for @game, url: {action: "create"} do|f| %>
  <% (0..3).each do |i| %>
    <tr>
      <td><h5><%= "#{i + 1}."%></h5></td>
      <td><label>邊個玩:</label></td>
      <td><%= select("user", i, User.all.collect {|u| [ u.name, u.id ] }, {selected: i + 1, include_blank: true})%></td>
      <td><label>邊個角色:</label></td>
      <td><%= select("role", i, Role.all.collect {|u| [ u.name, u.id ] }, {selected: i + 1}) %></td>
      <td><label>分數:</label></td>
      <td><%= number_field("score", i) %></td>
      <td><label>是否最後去旅行:</label></td>
      <td><%= check_box("is_last_traveller",  i) %></td>
    </tr>
    <br/>
  <% end %>
  <%= f.submit %>
<% end %>
