<h1>Player#summary</h1>
<%= button_to("返回",game_list_path, method: :get) %>
<%= form_tag player_summary_path, method: :get, id: :summary do %>
  <tr>
    <td><label>賽季:</label></td>
    <td><%= select('summary', "season_id", Season.all.collect {|u| [ u.name, u.id ] }, {include_blank: 'all', selected: @hash[:games][:season_id]})%></td>
    <td><label>玩家:</label></td>
    <td><%= select('summary', "user_id", User.all.collect {|u| [ u.name, u.id ] }, {include_blank: 'all', selected: @hash[:user_id]})%></td>
    <td><label>角色:</label></td>
    <td><%= select('summary', "role_id", Role.all.reverse.collect {|u| [ u.name, u.id ] }, {include_blank: 'all', selected: @hash[:role_id]})%></td>
    </br>
    <td><label>只選最後去旅行:</label></td>
    <td><%= check_box('summary', "is_last_traveller", {checked: @hash[:is_last_traveller]}) %></td>
    <td><label>只選最先行動:</label></td>
    <td><%= check_box('summary', "is_first_mover", {checked: @hash[:is_first_mover]}) %></td>
    <td><label>只選最先選角色:</label></td>
    <td><%= check_box('summary', "is_first_picker", {checked: @hash[:is_first_picker]}) %></td>
    </br>
    <label>第一個盾:</label>
    <td><%= select('summary', "first_shield", Shield.all.collect {|u| [ u.name, u.id ] }, {include_blank: 'all', selected: @hash[:first_shield]})%></td>
  </tr>
  <br/>
  <%= submit_tag 'search' %>
<% end %>

<table>
  <tr>
    <th/>
    <th>分數</th>
    <th>相對分數</th>
  <tr>
    <td>平均分</td>
    <td><%= @player_list.avg_score %></td>
    <td><%= @player_list.avg_score(:relative) %></td>
  </tr>
  <tr>
    <td>標準差</td>
    <td><%= @player_list.standard_deviation %></td>
    <td><%= @player_list.standard_deviation(:relative) %></td>
  </tr>
  <tr>
    <td>最高分</td>
    <td><%= @player_list.max_score %></td>
    <td><%= @player_list.max_score(:relative) %></td>
  </tr>
  <tr>
    <td>最低分</td>
    <td><%= @player_list.min_score %></td>
    <td><%= @player_list.min_score(:relative) %></td>
  </tr>
  <tr>
    <td>中位數</td>
    <td><%= @player_list.median_score %></td>
    <td><%= @player_list.median_score(:relative) %></td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>名次</th>
    <th>次數</th>
  <% @player_list.ranking_count.each do |k,v| %>
    <tr>
      <td><%= "第#{k}" %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
  </tr>
</table>

<% if @hash[:user_id].nil? %>
  <table>
    <tr>
      <th>玩家</th>
      <th>次數</th>
    <% @player_list.user_count.each do |k,v| %>
      <tr>
        <td><%= User.find_by_id(k).name %></td>
        <td><%= v %></td>
      </tr>
    <% end %>
    </tr>
  </table>
  <br/>
<% end %>

<% if @hash[:role_id].nil? %>
  <table>
    <tr>
      <th>角色</th>
      <th>次數</th>
    <% @player_list.role_count.each do |k,v| %>
      <tr>
        <td><%= Role.find_by_id(k).name %></td>
        <td><%= v %></td>
      </tr>
    <% end %>
    </tr>
  </table>
<% end %>


<style>
form#summary label{
 display: contents;
 margin: 2em;
}
</style>
